#footerdatailpage *{
    font-family: "΢���ź�";
    font-size: 62.5%;
}
#footerdatailpage #firstul a{
    font-family: "΢���ź�";
    font-size: 1.8rem;
    color: #000000;
}
#footerdatailpage #n1 p{
    line-height: 3rem;
    color: #787878;
    font-size: 1.6rem;
}
#footerdatailpage #n2 h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#footerdatailpage #n2 h3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#footerdatailpage #n2 h4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#footerdatailpage #n2 p{
    line-height: 3rem;
    color: #787878;
    font-size: 1.4rem;
}
#footerdatailpage #n3 h2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#footerdatailpage #n3 h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#footerdatailpage #n3 p{
    line-height: 3rem;
    color: #787878;
    font-size: 1.4rem;
}
#footerdatailpage #n4 h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#footerdatailpage #n5 p{
    line-height: 3rem;
    color: #787878;
    font-size: 1.4rem;
}
#footerdatailpage #n6 h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#footerdatailpage #n6 p{
    line-height: 3rem;
    color: #787878;
    font-size: 1.4rem;
}
#footerdatailpage #n4 p{
    line-height: 3rem;
    color: #787878;
    font-size: 1.4rem;
}
#footerdatailpage #firsta{
    font-size: 1.8rem;
    color: #FF0B0B;
}
#footerdatailpage #seconda{
    font-size: 2.5rem;
    color: #FF0B0B;
}
#footerdatailpage #firstspan{
    color: #FF0B0B;
    font-size: 2.2rem;
}
#footerdatailpage #firstform div{
    margin-top: 2rem;
}
#footerdatailpage #firstform div span{
    color: #787878;
    font-size: 1.4rem;
}
#footerdatailpage .phone{
    font-size: 2.0rem;
}
#footerdatailpage .form-group span{
    font-size: 1.5rem;
}