body {
				background: #ddf0ed;
				font-family: "微软雅黑";
			}
			/*普通登录、快速登录的字体*/
			
			@media all and (min-width:1200px) {
				#LoginPage #title {
					padding: 60px 0px;
				}
				#LoginPage .logincontainer {
					background-color: rgba(0, 0, 0, 0.3);
					border-radius: 5px;
					margin-top: 30px;
				}
			}
			
			@media all and (min-width:768px) {
				#LoginPage #title {
					padding: 40px 0px;
				}
				#LoginPage .logincontainer {
					margin-top: 10px;
				}
			}
			
			@media all and (max-width:767px) {
				#LoginPage #title {
					padding: 40px 0px;
				}
				#LoginPage .logincontainer {
					margin-top: 5px;
				}
				#LoginPage #verifyCanvas {
					margin-left: -20px;
				}
			}
			
			@media all and (max-width:767px) {
				#LoginPage #title {
					padding: 40px 0px;
				}
				#LoginPage .logincontainer {
					margin-top: 5px;
				}
			}
			
			@media all and (min-width:1200px) {
				/*静态验证码*/
				#verifyCanvas {
					position: absolute;
					margin-top: -33px;
					margin-left: 82px;
					width: 70px;
					height: 34px;
				}
			}
			
			@media all and (max-width:1200px) {
				/*静态验证码*/
				#verifyCanvas {
					float: right;
				}
			}
			
			#LoginPage .loginkey,
			.fastloginkey {
				font-size: 20px;
			}
			/*当悬浮上去时的样式*/
			
			#LoginPage .loginkey:hover,
			.fastloginkey:hover {
				cursor: pointer;
				color: orange;
			}
			
			#LoginPage .logintype {
				padding-bottom: 30px;
			}
			
			#LoginPage .active {
				color: chocolate;
				font-weight: bold;
			}
			
			#LoginPage .active:hover {
				color: chocolate;
			}
			/*验证码*/
			
			#LoginPage .getyanzhengma,
			.fasongzhong,
			.daojishi {
				color: brown;
				float: left;
				padding-top: 15px;
			}
			
			#LoginPage .getyanzhengma:hover {
				text-decoration: none;
				color: crimson;
				cursor: pointer;
			}
			/*注册按钮*/
			
			#LoginPage .goregister {
				float: right;
			}
			
			#LoginPage .goregister:hover {
				color: chocolate;
				cursor: pointer;
			}
			
			#LoginPage .warning {
				color: brown;
				float: left;
			}
			
			#LoginPage .isyanzhengma,
			.ispassword,
			.isphone,
			.fisyanzhengma,
			.fisphone {
				display: none;
			}
			/*静态验证码的图片*/
			
			#LoginPage #verifyCanvas {
				border: 1px solid silver;
				border-radius: 5px;
			}