/*ͨ��*/
*{font-family: "微软雅黑"}
/*�����ֲ�ͼ*/
.main_body_carou img{width: 100%;border-radius: 8px}
.main_body_carou{position: relative;}
.main_body_carou>.carousel-inner>.item>img{max-height: 40em}
/*������*/
.main_horn{position: fixed;top: 7rem;left:5%;display: flex;justify-content: center;align-items: center;width:90%;z-index: 999}
#petunia{position: relative;margin:0;background-color: #0c0702;color:white;overflow: hidden;border-radius: 10px;height: 2em;width: 80%;opacity: 0.7}
#petunia>span:first-of-type{margin-left: 1em;position: relative;color: white;font-size: 2em}
#petunia_content{position: relative;z-index: 999;top:-0.5em}
/*ģ�鵼��*/
.main_header{display: flex;justify-content: center;align-items: center;margin-top:3em ;}
.main_header>.nav-tabs{width: 100%}
.main_header>.nav-tabs>li{width:20%}
.main_header>.nav-tabs>.active>a{background-color: #13b0ff;color: black}
.main_header>.nav-tabs>li>a{background-color: #D94c36;color: white;border-radius: 8px;text-align: center;font-weight: bold}
.main_header>.nav-tabs>li>a:hover{background-color: #B34100}
.main_header>.nav-tabs>li> a:focus {text-decoration: none;background-color: #B34100;}
/*��ʱ����*/
.main_body_left{height: 24em;background-image: url("image/bg01.png");background-size: cover;border: solid 1px silver;border-radius: 8px}
.main_body_left>#temp_advise{margin-bottom: 3%}
.main_body_left>#temp_advise>p{display: flex;justify-content: space-between;align-items: center}
.main_body_left>#temp_advise>p>button{margin-top: 0.9em}
.main_body_left>#temp_advise>textarea{border-radius: 8px;width: 100%}
.main_body_left>.row>div>p{color: #a9723f;font-family: "΢���ź�"}
.main_body_left>.row>div>p:hover{color: #B34100;font-weight: bolder;font-size: 2em}
.main_body_left>.row>div>img{width: 50%;border-radius: 50%;margin-left:21% }
/*������ʾ*/
.hotTop{margin-top: 1em}
.hotTop>.hotTop_left>div>.panel-info>p{text-indent: 2em;margin-top: 2em}
/*��������*/
.hotTop>.hotTop_right>div>.thumbnail>img{height: 13em}
/*��������*/
.hint>div{border-radius: 8px;border: solid 1px silver;margin-top: 1em}
/*С��*/
@media all and  (max-width: 768px){
    /*������ʾ*/
    .hotTop>.hotTop_left{margin:1em 0;height: 15em;padding:0 1em 1em 1em;border: 1px solid silver;border-radius: 8px}
    #main{margin-top:6rem;padding: 0px}
    .hotTop>.hotTop_right{padding: 0;}
    .hotTop>.hotTop_right>div{height:auto;margin: 0;padding:0 1em 1em 1em;;border: 1px solid silver;border-radius: 8px}
    .hotTop>.hotTop_right>div>.thumbnail{margin: 0.2em;width: 100%}
    .hotTop>.hotTop_right>div>.thumbnail>img{width: 90%}
    /*��ʷ֪ͨ*/
}
/*����Ļ*/
@media all and  (min-width: 768px){
    /*������ʾ*/
    .hotTop>.hotTop_left{height: 20em;padding:0 1em 1em 1em;border: 1px solid silver;border-radius: 8px}
    /*��������*/
    .hotTop>.hotTop_right>div{height: 20em;margin-left: 1em;padding:0 1em 1em 1em;;border: 1px solid silver;border-radius: 8px}
    .hotTop>.hotTop_right>div>.thumbnail{margin: 0.4em;width: 30%}
    #main{margin-top:6rem }
    /*�ֲ�����*/
    .container{padding: 0}
    /*��ʷ֪ͨ*/
    #main_body>.main_body_right{padding: 0 0 0 1em;}
    .main_body_right>div{padding:0 1em 1em 1em;;background-image: url("image/bg01.png");background-size: cover;height: 24em;border: 1px solid silver;border-radius: 8px}
}