#welfarepage html {

    font-family: "΢���ź�";
}
#welfarepage .qmgy_span {
    font-size: 20px;
}
#welfarepage .qmgy-imggx{padding: 30px;}
#welfarepage .qmgy_section img {
    width: 100%;
    height:400px;
}

@media all and (max-width: 500px){
    #welfarepage .qmgy_carousel-caption{font-size: 7px;}
    #welfarepage .qmgy_section img {
        width: 100%;
        height:200px;
    }

   #welfarepage  .qmgy_span {

        font-size: 5px;
    }

}
#welfarepage .container {
     padding: 5px;;
 }

#welfarepage .row {
    padding: 15px;
}
#welfarepage .qmgy_media_body li a:hover{
    text-decoration: underline;
    color: #5bc0de;

}
#welfarepage .qmgy_carousel-caption{font-size: 15px;}
#welfarepage .qmgy_text{font-weight: bolder;text-align: center;
    line-height: 80px;
    list-style:none;
    height: 80px;
    border-color: transparent;
    color: burlywood;
    background-color: #Fbfaf8;
    font-size: 20px;;
    margin: 0px;
}


